<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*" Name="cedit++" Language="1041" Version="VERSION" Manufacturer="kawatea" UpgradeCode="3C60494C-D7E8-4D1D-B397-76502B5677EF" Codepage="932">
        <Package Id="*" Description="cedit++" Comments="This installer database contains the logic and data required to install cedit++." InstallerVersion="200" Compressed="yes" SummaryCodepage="932" Languages="1041" Manufacturer="kawatea" InstallScope="perMachine"/>
        <Media Id="1" Cabinet="data.cab" EmbedCab="yes"/>
        
        <Icon Id="icon" SourceFile="icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon"/>
        
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
        <WixVariable Id="WixUILicenseRtf" Value="COPYING.rtf"/>
        
        <UI>
            <UIRef Id="WixUI_InstallDir"/>
        </UI>
        
        <Feature Id="ceditpp" Title="ceditpp" Level="1">
            <ComponentGroupRef Id="binaries"/>
            <ComponentRef Id="setting"/>
            <ComponentRef Id="library"/>
            <ComponentRef Id="desktop_shortcut"/>
            <ComponentRef Id="environment"/>
        </Feature>
        
        <CustomAction Id="SetCompileSchemasCommand" Property="CompileSchemas" Value="&quot;[INSTALLDIR]bin/glib-compile-schemas.exe&quot; &quot;[INSTALLDIR]share/glib-2.0/schemas&quot;"/>
        <CustomAction Id="CompileSchemas" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="ignore" Execute="deferred" Impersonate="no"/>
        <CustomAction Id="SetUpdateHicolorIconCacheCommand" Property="UpdateHicolorIconCache" Value="&quot;[INSTALLDIR]bin/gtk-update-icon-cache-3.0.exe&quot; &quot;[INSTALLDIR]share/icons/hicolor&quot;"/>
        <CustomAction Id="UpdateHicolorIconCache" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="ignore" Execute="deferred" Impersonate="no"/>
        <CustomAction Id="SetUpdateAdwaitaIconCacheCommand" Property="UpdateAdwaitaIconCache" Value="&quot;[INSTALLDIR]bin/gtk-update-icon-cache-3.0.exe&quot; &quot;[INSTALLDIR]share/icons/Adwaita&quot;"/>
        <CustomAction Id="UpdateAdwaitaIconCache" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="ignore" Execute="deferred" Impersonate="no"/>
        <CustomAction Id="SetUpdatePixbufLoadersCommand" Property="UpdatePixbufLoaders" Value="&quot;[INSTALLDIR]bin/gdk-pixbuf-query-loaders.exe&quot; --update-cache"/>
        <CustomAction Id="UpdatePixbufLoaders" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="ignore" Execute="deferred" Impersonate="no"/>
        
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize"/>
            <Custom Action="SetCompileSchemasCommand" After="InstallFiles">Not Installed</Custom>
            <Custom Action="CompileSchemas" After="SetCompileSchemasCommand">Not Installed</Custom>
            <Custom Action="SetUpdateHicolorIconCacheCommand" After="CompileSchemas">Not Installed</Custom>
            <Custom Action="UpdateHicolorIconCache" After="SetUpdateHicolorIconCacheCommand">Not Installed</Custom>
            <Custom Action="SetUpdateAdwaitaIconCacheCommand" After="UpdateHicolorIconCache">Not Installed</Custom>
            <Custom Action="UpdateAdwaitaIconCache" After="SetUpdateAdwaitaIconCacheCommand">Not Installed</Custom>
            <Custom Action="SetUpdatePixbufLoadersCommand" After="UpdateAdwaitaIconCache">Not Installed</Custom>
            <Custom Action="UpdatePixbufLoaders" After="SetUpdatePixbufLoadersCommand">Not Installed</Custom>
        </InstallExecuteSequence>
    </Product>
    
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
                <Directory Id="ceditpp" Name="cedit++">
                    <Directory Id="INSTALLDIR">
                        <Directory Id="library" Name="library"/>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="DesktopFolder"/>
        </Directory>
    </Fragment>
    
    <Fragment>
        <DirectoryRef Id="resource">
            <Directory Id="setting" Name="setting">
                <Component Id="setting" Guid="*">
                    <CreateFolder>
                        <util:PermissionEx User="Users" GenericAll="yes"/>
                    </CreateFolder>
                    <File Id="setting" Name="setting" Source="setting"/>
                </Component>
            </Directory>
        </DirectoryRef>
        
        <Component Id="library" Directory="library" Guid="*">
            <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes"/>
            </CreateFolder>
            <RegistryValue Root="HKCU" Key="Software/cedit++" Name="library" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
        
        <Component Id="desktop_shortcut" Directory="DesktopFolder" Guid="*">
            <Shortcut Id="shortcut" Name="cedit++" Icon="icon" IconIndex="0" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]bin/cedit.exe"/>
            <RemoveFolder Id="DesktopFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software/cedit++" Name="shortcut" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
        
        <Component Id="environment" Directory="INSTALLDIR" Guid="*">
            <Environment Id="CEDITPP_DIR" Name="CEDITPP_DIR" Action="set" Part="all" Permanent="no" System="yes" Value="[INSTALLDIR]"/>
            <Environment Id="Path" Name="Path" Action="set" Part="last" Permanent="no" System="yes" Value="[INSTALLDIR]bin" />
            <RegistryValue Root="HKCU" Key="Software/cedit++" Name="environment" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </Fragment>
</Wix>
